<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有主题</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}

    {% block header %}
        <h3>Topics</h3>
        {% if not login_status %}
            <h4>未登录用户仅他妈的能查看公开主题</h4>
        {% endif %}
    {% endblock header %}

    {% block content %}

        <ul>
            {% for topic in topics %}
                <li>
                {% if topic.public == True %}
                    <h3>
                        <a href="{% url 'learning_logs:topic' topic.id%}">{{ topic }}
                        -用户({{ topic.owner }})-公开</a>
                    </h3>
                {% else %}
                    <h3>
                        <a href="{% url 'learning_logs:topic' topic.id%}">{{ topic }}
                        -用户({{ topic.owner }})-私有</a>
                    </h3>
                {% endif %}
                </li>
            {% empty %}
                <li>no topics have been added yet.</li>
            {% endfor %}
        </ul>

        <h3><a href="{% url 'learning_logs:new_topic' %}">add new topic</a></h3>

    {% endblock content %}

</body>
</html>

